@page
@model nodemanager.Pages.BpqGuidedSetupModel
@{
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    /*$.ajax({
        //type: 'GET',
        url: "?handler=Modems",
        //contentType: "application/json",
        //dataType: "json",
    }).done(function(data) {
        var select = $("#modems")
        select.children().remove()
        //alert(data)
    }).fail(function (error) {
        alert(error.responseText);
    });*/

    function refreshModems(){
        $("#modemInput").empty()
        $.getJSON('?handler=Modems', (data) => {
            $.each(data, function (i, item) {
                $("#modemInput").append(`<option value="${item.fullPath}">${item.ttyAcmName} (${item.fullPath})</option>`);
            })
        })
    }

    refreshModems()
</script>

<style>
    .form-group {
        padding-bottom:20px;
    }

    .input-group-button {
        padding: 0 0 0 5px;
        border-color: transparent;
        background: none;
    }
</style>

<div class="text-left">
    <h1 class="display-4">BPQ Guided Setup</h1>
    <p>
        This is a guided setup assistant for BPQ and will help you get a basic node up and running.
    </p>

    <form action="" method="post" id="configForm">
        <div class="form-group">
            <label for="nodeCallsignInput">Node callsign</label>
            <input type="text" class="form-control" id="nodeCallsignInput" aria-describedby="nodeCallsignHelp" placeholder="examples: GB7AAA, M0AAA, M0AAA-7" maxlength="10">
            <small id="nodeCallsignHelp" class="form-text text-muted">The node callsign is the "top level" callsign for this packet station. 
                If you aren't sure, just use your own callsign without an SSID after it (e.g. -7).</small>
        </div>

        <div class="form-group">
            <label for="nodeAliasInput">Node alias (optional)</label>
            <input type="text" class="form-control" id="nodeAliasInput" aria-describedby="nodeAliasHelp" placeholder="e.g. AAABPQ" maxlength="6">
            <small id="nodeAliasHelp" class="form-text text-muted">Optional alias that people will be able to use to connect directly to your node over the air.</small>
        </div>

        <div class="form-group">
            <label for="locatorInput">Grid square (optional)</label>
            <input type="text" class="form-control" id="locatorInput" aria-describedby="locatorHelp" placeholder="e.g. IO99aa" maxlength="6">
            <small id="locatorHelp" class="form-text text-muted">
                If you want your station to appear on mapping services, enter your Maidenhead grid square. If you don't know your grid square, go <a href="https://whatsmylocator.co.uk/" target="_blank">here</a>,
                enter your address, then copy Gridquare into this box.
            </small>
        </div>

        <div class="form-group">
            <label for="passwordInput">Sysop password</label>
            <input type="password" class="form-control" id="passwordInput" aria-describedby="passwordHelp" placeholder="" maxlength="30">
            <small id="passwordHelp" class="form-text text-muted">
                Required for some admin tasks. Warning: this will be saved as plain text in your config file, so make it unique.
            </small>
        </div>
        
        <div class="form-group">
            <label for="modemInput">Modem</label>
            <div class="input-group">
                <select id="modemInput" class="form-select" aria-describedby="modemHelp">
                </select>
                <div class="input-group-addon input-group-button">
                    <button type="button" id="show-contact-modal-button" class="btn btn-primary" onclick="refreshModems()">Refresh</button>
                </div>
            </div>
            <small id="modemHelp" class="form-text text-muted">Pick your modem. If you plug your modem in now, press Refresh to get it to show in the list.</small>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="primary">Install</button>
        </div>
    </form>
</div>
