@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is OARC Node Manager and will help you to set up and manage a packet radio node.
    </p>
    <p>
        Currently it supports management of BPQ, with plans to make it useful for other packet stacks over time.
    </p>
    <p>
        Click the button below to configure BPQ.
    </p>
    <p>
        <a class="btn btn-primary" href="BpqSetup" role="button">BPQ Setup</a>
    </p>

</div>
