@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is OARC Node Manager and will help you to set up and manage a packet radio node.
    </p>
    <p>
        Currently it supports management of BPQ on Raspberry Pi OS, with plans to make it useful for other platforms and packet stacks over time.
    </p>
    <p>
        For now, click the button below to manage BPQ.
    </p>
    <p>
        <a class="btn btn-primary" href="ManageBpq" role="button">Manage BPQ</a>
    </p>

</div>
