@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is Node Manager and will help you to set up and manage a packet radio node.
    </p>

    <p>
        <a class="btn btn-primary" href="BpqGuidedSetup" role="button">BPQ Guided Setup</a>
    </p>

</div>
