@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is BPQ Manager and will help you to set up and manage a packet radio node.
    </p>

    <a href="BpqGuidedSetup">BPQ Guided Setup</a>
</div>
